<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Mundo Coche</title>
</head>
<body>
    <header>
        <ul class="header">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="productos.html">Galería</a></li>
            <li class="actual"><a href="presupuesto.html">Presupuestos</a></li>
            <li><a href="contacto.html">Contacto</a></li>
            <li><img src="../images/iconoLogo.jpg" alt="logo"></li>
        </ul>
        
    </header>

    <main>
        <h1>Solicitar presupuestos</h1>
        <form action="#" method="POST">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            
            <label for="telefono">Teléfono:</label>
            <input type="tel" id="telefono" name="telefono" required>
            
            <label for="mensaje">Solicite más información:</label>
            <textarea id="mensaje" name="mensaje" rows="4" required></textarea>
            
            <label>
                <input type="checkbox" name="politica" required> Aceptar Política de privacidad
            </label>
            
            <button type="submit">Enviar</button>
            
        </form>
    </main>

    <footer>
        <ul>
            <li>
                <a href="https://www.facebook.com/profile.php?id=61574948876670">Facebook</a>
                <img src="../images/logoFacebook.jpg" alt="logo" width="16">
            </li>
            <li>
                <a href="https://x.com/coche_mundo">Twitter</a>
                <img src="../images/logoTwitter.jpg" alt="logo" width="16">
            </li>
            <li>
                <a href="https://www.instagram.com/mundocoche80/">Instagram</a>
                <img src="../images/logoInstagram.jpg" alt="logo" width="16">
            </li>
        </ul>
        <address>
            <strong>Mundo Coche S.L.</strong><br>
            Av. de Navarra, 93, Delicias, 50017 Zaragoza<br>
            Teléfono: +34 123 456 789<br>
            Email: <a href="mailto:contacto@mundocoche.com">contacto@mundocoche.com</a>
        </address>
        <p><a href="../avisolegal.html">Aviso legal</a></p>
    </footer>
</body>
</html>