<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Mundo Coche</title>
</head>
<body>
    <header>
        <ul class="header">
            <li><a href="../index.html">Inicio</a></li>
            <li class="actual"><a href="productos.html">Galería</a></li>
            <li><a href="presupuesto.html">Presupuestos</a></li>
            <li><a href="contacto.html">Contacto</a></li>
            <li><img src="../images/iconoLogo.jpg" alt="logo"></li>
        </ul>
        
    </header>

    <main>
        <h1>Galería de coches disponibles</h1>
        <div class="oferta">
            <img src="../images/oferta1.jpg" alt="oferta1">
            <div>
                <h2 class="oferta">LEAPMOTOR T03</h2>
                <p class="oferta">desde <span>11.899€</span></p>
            </div>
        </div>
        <div class="oferta">
            <img src="../images/oferta2.jpg" alt="oferta2">
            <div>
                <h2 class="oferta">DACIA Sandero</h2>
                <p class="oferta">desde <span>13.522€</span></p>
            </div>
        </div>
        <div class="oferta">
            <img src="../images/oferta3.jpg" alt="oferta3">
            <div>
                <h2 class="oferta">MG3</h2>
                <p class="oferta">desde <span>13.990€</span></p>
            </div>
        </div>
        <div class="oferta">
            <img src="../images/oferta4.jpg" alt="oferta4">
            <div>
                <h2 class="oferta">HYUNDAI i10</h2>
                <p class="oferta">desde <span>14.340€</span></p>
            </div>
        </div>
        <div class="oferta">
            <img src="../images/oferta5.jpg" alt="oferta5">
            <div>
                <h2 class="oferta">FIAT 500</h2>
                <p class="oferta">desde <span>14.991€</span></p>
            </div>
        </div>
        <div class="oferta">
            <img src="../images/oferta6.jpg" alt="oferta6">
            <div>
                <h2 class="oferta">KIA Picanto</h2>
                <p class="oferta">desde <span>15.602€</span></p>
            </div>
        </div>
    </main>

    <footer>
        <ul>
            <li>
                <a href="https://www.facebook.com/profile.php?id=61574948876670">Facebook</a>
                <img src="../images/logoFacebook.jpg" alt="logo" width="16">
            </li>
            <li>
                <a href="https://x.com/coche_mundo">Twitter</a>
                <img src="../images/logoTwitter.jpg" alt="logo" width="16">
            </li>
            <li>
                <a href="https://www.instagram.com/mundocoche80/">Instagram</a>
                <img src="../images/logoInstagram.jpg" alt="logo" width="16">
            </li>
        </ul>
        <address>
            <strong>Mundo Coche S.L.</strong><br>
            Av. de Navarra, 93, Delicias, 50017 Zaragoza<br>
            Teléfono: +34 123 456 789<br>
            Email: <a href="mailto:contacto@mundocoche.com">contacto@mundocoche.com</a>
        </address>
        <p><a href="../avisolegal.html">Aviso legal</a></p>
    </footer>
</body>
</html>